<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Document</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">

        <style>
        .lead {
            padding-top: 10px;
            padding-bottom:10px;
            padding-left:6px;
            padding-right:6px;
            margin-top:10px;
            background-color:#f6f6f6;
            width:100%;

        }

       </style>


 
    </head>
    <body>
      <a href="/leads/create"> Create to leads</a>
        <hr />
        <h1>This is all of our leads</h1>
        {% for lead in leads %}
            <div class="lead">
              <a href="/leads/{{lead.pk}}/">{{lead.first_name}}   {{lead.last_name}}</a>. Age: {{lead.age}}
            </div>
        {%endfor%}

        
    </body>
</html>